#ifndef _WINDOWS_
#include <Windows.h>
#endif

#include <prsht.h>

#include "resource.h"

#define VER_FILEVERSION             1,0,0,0
#define VER_FILEVERSION_STR         "1.0.0.0\0"

#define VER_PRODUCTVERSION          1,0,0,0
#define VER_PRODUCTVERSION_STR      "1.0\0"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "CompanyName", "Bester"
VALUE "FileDescription", "Description"
VALUE "FileVersion", VER_FILEVERSION_STR
VALUE "LegalCopyright", "(C) 2018 Ryan Bester"
VALUE "ProductName", "BesterChat Server"
VALUE "ProductVersion", VER_PRODUCTVERSION_STR
END
END

BLOCK "VarFileInfo"
BEGIN
/* The following line should only be modified for localized versions.     */
/* It consists of any number of WORD,WORD pairs, with each pair           */
/* describing a language,codepage combination supported by the file.      */
/*                                                                        */
/* For example, a file might have values "0x409,1252" indicating that it  */
/* supports English language (0x409) in the Windows ANSI codepage (1252). */

VALUE "Translation", 0x409, 1252

END
END

IDI_APP_ICON ICON "img/app.ico"

IDM_MAIN_MENU MENU 
{
	POPUP "&File"
	{
		MENUITEM "New Group...", IDM_FILE_NEW_GROUP
		MENUITEM "Open Group...", IDM_FILE_OPEN_GROUP
		MENUITEM SEPARATOR
		MENUITEM "Close Group", IDM_FILE_CLOSE_GROUP
		MENUITEM SEPARATOR
		MENUITEM "Save Group", IDM_FILE_SAVE_GROUP
		MENUITEM "Save Group As...", IDM_FILE_SAVE_GROUP_AS
		MENUITEM SEPARATOR
		MENUITEM "Import...", IDM_FILE_IMPORT
		MENUITEM "Export...", IDM_FILE_EXPORT
		MENUITEM SEPARATOR
		MENUITEM "Print...", IDM_FILE_PRINT
		MENUITEM SEPARATOR
		MENUITEM "Exit", IDM_FILE_EXIT
	}
	POPUP "&Edit"
	{
		MENUITEM "Cut", IDM_EDIT_CUT
		MENUITEM "Copy", IDM_EDIT_COPY
		MENUITEM "Paste", IDM_EDIT_PASTE
		MENUITEM "Delete", IDM_EDIT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "Preferences...", IDM_EDIT_PREFERENCES
	}
	POPUP "&Group"
	{
		MENUITEM "Information...", IDM_GROUP_INFORMATION
		POPUP "View"
		{
			MENUITEM "Users...", IDM_GROUP_VIEW_USERS
			MENUITEM "Messages...", IDM_GROUP_VIEW_MESSAGES
			MENUITEM "Files...", IDM_GROUP_VIEW_FILES
			MENUITEM "Images...", IDM_GROUP_VIEW_IMAGES
		}
		MENUITEM SEPARATOR
		MENUITEM "Settings...", IDM_GROUP_SETTINGS
	}
	POPUP "&Help"
	{
		MENUITEM "Help", IDM_HELP_HELP
		MENUITEM "About", IDM_HELP_ABOUT
	}
}
